.calendar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell {
    cursor: pointer;
    text-align: center;
}

.cell:hover {
    background-color: #FF8000;
}