.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    justify-items: center;
    border: 1px solid black;
    grid-gap: 1px;
    background-color: black;
}

.calendar div {
    /* border: 1px solid black;*/
    width: 100%;
    background-color: white;
}

.calendar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / 8;
    width: 100%;
}

.cell {
    cursor: pointer;
    text-align: center;
}

.cell:hover {
    background-color: #FF8000;
}