th {
    border-bottom: 1px solid black;
    padding: 10px 5px;
}

.searchAndDataLength {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flexDiv {
    display: flex;
    gap: 5px;
}